.header {
    grid-area: head;
    grid-column: 1 / -1;
    min-height: 15vh;
    background: url(https://cdn.hipwallpaper.com/i/69/39/YpmOBh.jpg) no-repeat center, linear-gradient(to right bottom, rgba(black, 0.8), rgba(pink, 0.8));
    background-size: cover;
    opacity: .9;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Lato', sans-serif;
    font-size: 14px;

    div {
        padding: 0.5rem;
    }

    a {
        text-decoration: none;
    }

    .logo {
        span {
            font-size: 1rem;
            font-weight: 800;
            letter-spacing: 1mm;
            color: purple;
        }
    }

    .accounts {

        ul {
            margin: 0;

            li {
                list-style: none;
                a {
                    padding: 0.5rem;
                    color: #000;
                    font-weight: bold;
                    
                    &:hover {
                        color: #fff;
                        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                    }
                }
            }
        }
    }
}